<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header_t(~{::title})}">
    <title>comment</title>
</head>

<body>
<div th:replace="~{fragment/navBar :: nav}"></div>
<form method="post" th:action="@{/comment/add/{itemId}/{orderItemId} (itemId=${itemId}, orderItemId=${orderItemId})}" th:object="${commentForm}">
    <p>rating: <input type="number" min="1" max="5" th:field="*{rating}"/></p>
    <p>content: <input type="text" th:field="*{content}"/></p>
    <button>댓글쓰기</button>
</form>
</body>
</html>