<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<head th:replace="~{fragment/header :: common_header_t(~{::title})}">
    <title>comment</title>
</head>

<body>
<div th:replace="~{fragment/navBar :: nav}"></div>
<div class="container pt-4">
    <form method="post"
          th:action="@{/comment/add/{itemId}/{orderItemId} (itemId=${itemId}, orderItemId=${orderItemId})}"
          th:object="${commentForm}">
        <label for="sel" class="form-label h5">Rating: </label>
        <select th:field="*{rating}" class="form-select" id="sel">
            <option value=5>5</option>
            <option value=4>4</option>
            <option value=3>3</option>
            <option value=2>2</option>
            <option value=1>1</option>
        </select>

        <div class="mb-3 mt-3">
            <label for="comment" class="form-label h5">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" th:field="*{content}"></textarea>
        </div>
        <div class="text-center">
            <button type="button" th:onclick="|addComment('${itemId}', '${orderItemId}')|" class="btn btn-success">댓글쓰기</button>
        </div>
    </form>
</div>
<div th:replace="~{fragment/navBar :: footer}"></div>

<script>
    function addComment(itemId, orderItemId) {
        console.log("실행");
        axios.post('/comment/add/'+itemId+'/'+orderItemId, {
            rating: parseInt(document.querySelector('#sel').value),
            content: document.querySelector('#comment').value
        }).then(function (response) {
            console.log(response.data);
            if (response.data == true) {
                alert('댓글이 정상적으로 등록되었습니다.');
                window.history.back();
                //window.location.replace('/orderDetail/');
                //document.location.href = \'/path\';'
            } else {
                alert('댓글 등록에 실패했습니다.');
            }
        })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
</body>
</html>