<!DOCTYPE html>
<html lang="ko">
<head>
    <title>feedBack</title>
</head>
<body>


<th:block th:fragment="feedBack">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">사이트 피드백</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="feedback" action="#" method="Post">
                        <div class="form-group">
                            사이트 개선할 점들을 자유롭게 적어주세요!<br/>
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text" name="feedback"></textarea>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="feedback">Send message</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</th:block>
</body>
</html>
