<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/header :: common_header_ts(~{::title}, ~{::style})}">
    <title>board</title>
    <style>
        th, td {
            text-align: center;
        }
    </style>
</head>

<body>
<div th:replace="~{fragment/navBar :: nav}"></div>
<div class="container pt-5">
    <div class="mx-5 px-5 my-3">
        <h2>카테고리</h2>
        <th:block th:each="categoryName : ${categoryNameList}">
            <a th:href="@{/board/{category}(category=${categoryName}, page=0, sort=${pagination.sort})}"
               th:text="${categoryName}"></a>/
        </th:block>
    </div>

    <div class="row px-5 mx-5">
        <th:block th:each="item : ${pagination.itemList}">
            <div class="col-md-3 margin mt-4">
                <div class="card">
                    <a th:href="@{/itemDetail/{itemId}(itemId=${item.itemId})}" class="text-dark">
                        <img src="/image/testImage.png" class="card-img-top" th:alt="${item.name}" width="100">
                        <input type="hidden" value="${item.storeImageName}"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.name}"></h5>
                            <h5 class="card-title" th:text="|${item.originPrice}원|" th:unless="${item.originPrice!=item.price}"></h5>
                            <s class="card-title text-muted" th:text="${item.originPrice}" th:if="${item.originPrice!=item.price}"></s>
                            <h4 class="card-title text-danger" th:text="|${item.price}원|"
                                th:if="${item.originPrice!=item.price}"></h4>
                            <a th:href="@{/cart/add/{itemId}(itemId=${item.itemId})}" class="btn btn-primary">장바구니</a>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <nav th:object="${pagination}" class="pt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="*{isFirst} ? 'disabled'">
                <a th:href="@{/board/{category}(category=*{category},page=0, sort=*{sort})}"
                   class="page-link">
                    처음
                </a>
            </li>
            <li class="page-item" th:classappend="*{isFirst} ? 'disabled'">
                <a th:href="@{/board/{category}(category=*{category},page= *{cntPage}-1, sort=*{sort})}"
                   class="page-link">
                    이전
                </a>
            </li>

            <li th:each="page: *{#numbers.sequence(start, end)}" class="page-item"
                th:classappend="${pagination.cntPage==page} ? 'active'">
                <a th:href="@{/board/{category}(category=*{category},page=${page}, sort=*{sort})}"
                   th:text="${page+1}"
                   th:if="${page}<*{totalPage}" class="page-link"></a>
            </li>

            <li class="page-item" th:classappend="*{isEnd} ? 'disabled'">
                <a th:href="@{/board/{category}(category=*{category}, page= *{cntPage}+1, sort=*{sort})}"
                   class="page-link">
                    다음
                </a>
            </li>
            <li class="page-item" th:classappend="*{isEnd} ? 'disabled'">
                <a th:href="@{/board/{category}(category=*{category},page=*{totalPage}-1, sort=*{sort})}"
                   class="page-link">
                    끝
                </a>
            </li>
        </ul>
    </nav>
</div>

<div th:replace="~{fragment/navBar :: footer}"></div>
</body>
</html>