<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header_t(~{::title})}">
    <title>login</title>
</head>

<body>
<div th:replace="~{fragment/navBar :: nav}"></div>
<div>
    <form method="post" action="login" th:object="${loginForm}">
        <p>email: <input type="email" th:field="*{email}"/></p>
        <p>password: <input type="password" th:field="*{password}"/></p>
        <button>login</button>
    </form>
    <button
            type="button"
            onclick="location.href='/signup'"
    >
        signup
    </button>
    <button
            type="button"
            onclick="location.href='/findPassword'"
    >
        findPassword
    </button>
</div>
</body>
</html>