<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header_t(~{::title})}">
    <title>downloadList</title>
</head>

<body>
<div th:replace="~{fragment/navBar :: nav}"></div>

<div th:object="${member}" class="container pt-4">
    <h1 class="text-center">[[*{name}]]님 환영합니다.</h1>
    <div class="col p-4">
        email: <span th:text="*{email}">email</span><br>
        point: <span th:text="*{point}">point</span>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="#">다운로드</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/memberDetail/point">포인트내역</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/memberDetail/order">구매내역</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart">장바구니</a>
        </li>
    </ul>

    <th:block th:each="download : ${downloadList}">
        <span th:text="${download.itemName}"></span>
        <span th:text="${#temporals.format(download.expireDate, 'yyyy-MM-dd HH:mm')}"></span>
        <a th:href="@{/download/{storeName}(storeName=${download.storeName})}">다운로드</a>
    </th:block>
</div>
</body>
</html>