<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pointList</title>
</head>
<body>
<div th:object="${member}">
    <h1>[[*{name}]]님 환영합니다.</h1>
    email: <span th:text="*{email}">email</span><br>
    point: <span th:text="*{point}">point</span>
    <button type="button" onclick="location.href='/memberDetail/download'">다운로드</button>
    <button type="button" disabled>포인트내역</button>
    <button type="button" onclick="location.href='/memberDetail/order'">구매내역</button>
    <button type="button" onclick="location.href='/cart'">장바구니</button>

    <th:block th:each="download : ${pointList}">
        <span th:text="${download.detail}"></span>
        <span th:text="${#temporals.format(download.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
        <span th:text="${download.point}"></span>
    </th:block>
</div>
</body>
</html>